/* Created by: Zaida Hammel
* Created on: March 2022
* This CSS file defines the style for index.html ICS2O-Unit1-04-HTML-CSS
*/
body {
  background-color: rgb(194 194 194);
}

h1 {
  background-color: rgb(127 190 150);
  color: rgb(79 79 79);
  padding: 40px;
  text-align: center;
}
