h3 {
  background-color: rgb(127 190 150);
  color: rgb(79 79 79);
  padding: 20px;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
